body {
  background-color: #111;
  color: white;
}

header {
  height: 80px;

  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

main {
  min-height: calc(100vh - 160px);
}

footer {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.my_movie_card {
  min-height: 320px;
  position: relative;

  button.btn-primary {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
}